@{

ViewData["Title"] = "Register Page";

}

<div class="text-center">

<h1 class="display-4">Register</h1>

<div class="jumbotron">

<strong>ASP.NET MVC</strong>

</div>

@* display variables *@

<h4 style="color:purple">

<b>FirstName:</b> @ViewBag.first_name <br />

<b>LastName:</b> @ViewBag.last_name <br />

<b>Email:</b> @ViewBag.email_id <br />

<b>Password:</b> @ViewBag.password <br />

<b>Encrypted Password:</b> @ViewBag.enpassword <br />

<b>Decrypted Password:</b> @ViewBag.depassword <br />

</h4>

<hr />

@* obtain values to insert into DB *@

<h3><b>Forms: Weakly Typed</b></h3>

<form action="register" method="post">

<table>

<tr>

<td>First Name: </td>

<td><input type="text" name="first_name" /></td>

</tr>

<tr>

<td>Last Name: </td>

<td><input type="text" name="last_name" /></td>

</tr>

<tr>

<td>Email: </td>

<td><input type="text" name="email_id" /></td>

</tr>

<tr>

<td>Password: </td>

<td><input type="text" name="password" /></td>

</tr>

<tr>

<td colspan="2"><input type="submit" value="Submit Form" /></td>

</tr>

</table>

</form>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
